*{
    margin: 0;
    padding: 0;
}

.card-img-top{
    width: 100px;
    height: 200px;
}

.dos{
    margin-top: 35px;
}

.busqueda{
    height: 30px;
    float: right;
    display: flex;
    margin-top: 5px;
    margin-left: 400px;
    background: #555;
    padding-top: 2px;
}

.busqueda i{
    font-size: 20px;
    color: #fff;
}

.busqueda input{
    width: 250px;
    padding-left: 10px;
}

.busqueda .fa-microphone{
    padding: 0 5px 0px 15px;
}

.nav-link, .form-inline, .form-select{
    height: 50px;
}

.productos{
    margin: 20px 0;
}

.col-4{
    padding-top: 20px;
}

.card{
    padding: 20px;
}

.tab-pane h1, h2{
    padding-top: 40px;
    color: #000;
}


.formulario-cliente, .btn-success{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px 0;
}

.formulario-cliente input{
    width: 95%;
}



.float{
    display: flex;
	position:fixed;
	width:200px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
    background-color:#fff;
}
.my-float{
	margin-top:14px;
    margin-right: 15px;
}
.float p{
    font-size: 15px;
    margin-top: 8px;
}

@media(max-width: 768px){
    .busqueda{
        margin-left: 120px;
    }

    .busqueda input{
        width: 150px;
    }
}